<%- include("partials/header") %>


<div class="films">
    <% if(films){
        films.forEach(film => { 
            if(film.poster_path){ %>
            <div class="film_card">
                <div class="movie_poster">
                    <img src="https://image.tmdb.org/t/p/w500/<%=film.poster_path%>" alt="">
                    <div class="movie_label">
                        <h2><%=film.title%></h2>
                    </div>
                </div>
                <div class="movie_content">
                    <div class="mov_specs" style="position:relative">
                        <i class="material-icons">star</i>
                        <p style="margin-right: 10px;"><%=film.vote_average %></p> | 
                        <p style="margin-left: 10px;"><%=film.release_date.substring(0,4)%></p>
                        <a href="" style="position: absolute; bottom: 0; right: 0; padding: 3px;"><i class="fas fa-angle-double-right"></i></a>
                    </div>
              
                </div> 
        </div>
        <% }}) } %>
</div>


<%- include("partials/footer") %>