<%- include("partials/header") %>
              <div class="title-card">
        <div class="poster-wrapper">
          <div class="poster">
            <img src="https://image.tmdb.org/t/p/w500/<%=film.poster_path%>" alt="poster" />
            <div class="release-date">
              <h2><%=film.release_date.substring(8,15)%></h2>
              <div class="divider"></div>
              <p><%=film.release_date.substring(0,7)%></p>
            </div>
            <div class="btn-play">&#9655;</div>
          </div>
        </div>
        <!-- end poster-wrapper -->
        <div class="title-info">
          <div class="header-section">
            <h2><%=film.title %></h2>
            <p> <% film.genres.forEach(genre => { %> <%=genre.name%> / <%}) %></p>
            <div class="extra">
              <div class="ratings"><p>&#9733;  <%=film.vote_average%></p></div>
              <p class="channels"><%=film.popularity%></p>
            </div>
          </div>
          <div class="cast-section">
            <h3>THE CAST</h3>
            <div class="casts">
              <img src="https://m.media-amazon.com/images/M/MV5BNDg4OTczODE5Nl5BMl5BanBnXkFtZTcwMjgwMjA0Mg@@._V1_UY44_CR3,0,32,44_AL_.jpg" alt="avatar" />
              <img src="https://m.media-amazon.com/images/M/MV5BNzYwMTQ1ODY1MV5BMl5BanBnXkFtZTgwMTU5NDc5OTE@._V1_UY44_CR17,0,32,44_AL_.jpg" alt="avatar" />
              <img src="https://m.media-amazon.com/images/M/MV5BMTEyMDA1MzE0NjdeQTJeQWpwZ15BbWU3MDM0NzA4MDQ@._V1_UY44_CR1,0,32,44_AL_.jpg" alt="avatar" />
            </div>
          </div>
          <div class="synopsis-section">
            <h3>SYNOPSIS</h3>
            <p><%=film.overview%></p>
          </div>
          <div class="gallery-section">
            <!-- <h3>VIDEO / PICTURE</h3>
            <div class="gallery">
              <div class="small"><img src="https://m.media-amazon.com/images/M/MV5BYzkyNGViZDItYzFkMy00OGM0LTg3NzktZGVkZjM2Mzk1OGEzXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" alt="media" /></div>
              <div class="medium"><img src="https://m.media-amazon.com/images/M/MV5BNTkxOGIwYzUtNzc0ZS00MTBkLWFkODItYzEzNGRkN2E3MTAxXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" alt="media" /></div>
              <div class="small"><img src="https://m.media-amazon.com/images/M/MV5BMzg2OTY3MjE3OF5BMl5BanBnXkFtZTgwNTkxMDU0MDI@._V1_SX1777_CR0,0,1777,745_AL_.jpg" alt="media" /></div>
            </div> -->
          </div>
        </div>
      </div>

<%- include("partials/footer") %>